<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="casal" class="content">
		<h1 class="title-page">O casal</h1>
		<div class="box-couples">
			<img class="image circle" src="assets/img/tauana.jpg" alt="Tauana">
			<h2>Tauana</h2>
			<p class="txt"></p>
		</div>
		<div class="box-couples">
			<img class="image circle" src="assets/img/eu-e-ela.jpg" alt="">
			<h2>Ricardo</h2>
			<p class="txt"></p>
		</div>
		<?php include('includes/social.php')?>
	</div>
</div>