<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="fotos" class="content">
		<h1 class="title-page">Nossas fotos</h1>
		<div class="gallery">
			<a href="javascript:void(0)" title="Imagem 1" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/1.jpg" alt="Imagem 1" data-index="1" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 2" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/2.jpg" alt="Imagem 2" data-index="2" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 3" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/3.jpg" alt="Imagem 3" data-index="3" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 4" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/4.jpg" alt="Imagem 4" data-index="4" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 5" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/5.jpg" alt="Imagem 5" data-index="5" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 6" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/6.jpg" alt="Imagem 6" data-index="6" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 7" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/7.jpg" alt="Imagem 7" data-index="7" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 8" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/8.jpg" alt="Imagem 8" data-index="8" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 9" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/9.jpg" alt="Imagem 9" data-index="9" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 10" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/10.jpg" alt="Imagem 10" data-index="10" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 11" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/11.jpg" alt="Imagem 11" data-index="11" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 12" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/12.jpg" alt="Imagem 12" data-index="12" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 13" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/13.jpg" alt="Imagem 13" data-index="13" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 14" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/14.jpg" alt="Imagem 14" data-index="14" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 15" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/15.jpg" alt="Imagem 15" data-index="15" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 16" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/16.jpg" alt="Imagem 16" data-index="16" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 17" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/17.jpg" alt="Imagem 17" data-index="17" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 18" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/18.jpg" alt="Imagem 18" data-index="18" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 19" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/19.jpg" alt="Imagem 19" data-index="19" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 20" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/20.jpg" alt="Imagem 20" data-index="20" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 21" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/21.jpg" alt="Imagem 21" data-index="21" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 22" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/22.jpg" alt="Imagem 22" data-index="22" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 23" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/23.jpg" alt="Imagem 23" data-index="23" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 24" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/24.jpg" alt="Imagem 24" data-index="24" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 25" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/25.jpg" alt="Imagem 25" data-index="25" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 26" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/26.jpg" alt="Imagem 26" data-index="26" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 27" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/27.jpg" alt="Imagem 27" data-index="27" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 28" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/28.jpg" alt="Imagem 28" data-index="28" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 29" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/29.jpg" alt="Imagem 29" data-index="29" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 30" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/30.jpg" alt="Imagem 30" data-index="30" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 31" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/31.jpg" alt="Imagem 31" data-index="31" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 32" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/32.jpg" alt="Imagem 32" data-index="32" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 33" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/33.jpg" alt="Imagem 33" data-index="33" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 34" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/34.jpg" alt="Imagem 34" data-index="34" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 35" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/35.jpg" alt="Imagem 35" data-index="35" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 36" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/36.jpg" alt="Imagem 36" data-index="36" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 37" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/37.jpg" alt="Imagem 37" data-index="37" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 38" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/38.jpg" alt="Imagem 38" data-index="38" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 39" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/39.jpg" alt="Imagem 39" data-index="39" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 40" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/40.jpg" alt="Imagem 40" data-index="40" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 41" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/41.jpg" alt="Imagem 41" data-index="41" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 42" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/42.jpg" alt="Imagem 42" data-index="42" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 43" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/43.jpg" alt="Imagem 43" data-index="43" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 44" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/44.jpg" alt="Imagem 44" data-index="44" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 45" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/45.jpg" alt="Imagem 45" data-index="45" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 46" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/46.jpg" alt="Imagem 46" data-index="46" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 47" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/47.jpg" alt="Imagem 47" data-index="47" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 48" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/48.jpg" alt="Imagem 48" data-index="48" class="image square"></a>
			<a href="javascript:void(0)" title="Imagem 49" ng-click="carouselDefault($event)"><img src="assets/img/couple/thumbs/49.jpg" alt="Imagem 49" data-index="49" class="image square"></a>
		</div>
		<div id="carousel" carousel ng-show="imageSelected"></div>
		<?php include('includes/social.php')?>
	</div>
</div>