<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="home">
		<h1>Thania <i class="heart">&</i> Daniel</h1>
		<h2 class="save-the-date">06 de Outubro de 2018</h2>
		<span class="line"></span>
		<div class="box-countdown">
			<h2 class="intro-text">{{ textIntro }}</h2>
			<div class="countdown">
				<div class="countdown-days">
					<p><strong></strong></p>
					<p>{{textDays}}</p>
				</div>
				<div class="countdown-hours">
					<p><strong></strong></p>
					<p>{{textHours}}</p>
				</div>
				<div class="countdown-minutes">
					<p><strong></strong></p>
					<p>{{textMinutes}}</p>
				</div>
				<div class="countdown-seconds">
					<p><strong></strong></p>
					<p>{{textSeconds}}</p>
				</div>
			</div>
		</div>
		<div class="box-buttons">
			<a href="/#!/confirmar-presenca"><strong>RSVP</strong> Confirme sua presença</a>
			<a href="/#!/lista-de-presentes"><i class="fa fa-gift icon-gift" aria-hidden="true"></i>Lista de Presentes</a>
		</div>
		<div class="box-phrase">
			<p class="phrase">Encontramos um no outro tudo aquilo que faltava no fundo de nós.</p>
		</div>
	</div>
</div>