<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="padrinhos" class="content">
		<h2 class="title-page">Os Padrinhos e Madrinhas</h2>
		<div class="box-godparents">
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/davi.jpg" alt="Davi">
				<h3>Davi</h3>
			</div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/fabio-e-andressa.jpg" alt="Fábio e Andressa">
				<h3>Fábio e Andressa</h3>
			</div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/flavia-e-clayton.jpg" alt="Flavia e Clayton">
				<h3>Flavia e Clayton</h3>
			</div>
			<div class="line"></div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/helga.jpg" alt="Helga">
				<h3>Helga</h3>
			</div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/iasmim-e-edinho.jpg" alt="Iasmim e Edinho">
				<h3>Iasmim e Edinho</h3>
			</div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/kleber-e-juliana.jpg" alt="Juliana e Kleber">
				<h3>Juliana e Kleber</h3>
			</div>
			<div class="line"></div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/maiara.jpg" alt="Maiara">
				<h3>Maiara</h3>
			</div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/nathane-e-lucas.jpg" alt="Nathane e Lucas">
				<h3>Nathane e Lucas</h3>
			</div>
			<div class="godparents">
				<img class="image square" src="assets/img/godparents/thumbs/roberta-e-joao.jpg" alt="Roberta e João">
				<h3>Roberta e João</h3>
			</div>
		</div>
		<div id="carousel" carousel ng-show="imageSelected"></div>
		<?php include('includes/social.php')?>
	</div>
</div>