.confirmar{
	&__item{
		position: relative;
		&-input{
			position: absolute;opacity: 0;
			&:checked{
				+ .confirmar__item-text{background-color: #59cec7;color: #fff;}
			}
		}
		&-text{display: inline-block;vertical-align: top;font-size: 20px;padding: 10px 20px;background-color: #eee;border-radius: 4px;cursor: pointer;}
	}
	&__line{
		display: flex;margin-top: 16px;
	}
	&__insert{
		border-radius: 5px 0 0 5px !important;
		&-button{
			width: 100px;background-color: #8c4e11;color: #ffffff;border-radius: 0 5px 5px 0;font-size: 40px;border-style: none;
			&[disabled]{cursor: not-allowed;}
		}
		&-remove{background-color: #f00;border-radius: 0 5px 5px 0 !important;}
	}
	&__number{line-height: 50px;font-size: 20px;width: 40px;text-align: center;}
}
.box-question{
	&--hidden{display: none;}
}
#confirmar-presenca{
	.txt{
		margin-top: 20px;
		text-align: center;
	}

	#form-attendance-confirmation{
		margin: 20px auto;	

		.txt{
			text-align: left;
			padding-bottom: 4px;
		}
	}

	.btn-small{
		border-radius: 5px;
		color: $white;
		display: inline-block;
		font-family: $fontLato;
		font-size: 18px;
		font-style: normal;
		font-weight: bold;
		height: 24px;
		line-height: 24px;
		text-align: center;
		width: 40px;

		&.add-companions{
			background-color: #8c4e11;
		}
	}

	#companions{
		position: relative;

		.box-buttons{
			height: 44px;
			position: relative;
			width: 100%;

			.txt{
				float: left;
				line-height: 44px;
				margin-top: 0;
				padding-bottom: 0;
			}

			.add-companions{
				float: right;
			}
		}

		.box-companions{
			input{
				margin: 0;
			}
		}

		.btn{
			border: none;
			border-radius: 50%;
			color: $white;
			float: right;
			font-family: $fontLato;
			font-size: 28px;
			font-style: normal;
			font-weight: bold;
			height: 44px;
			width: 44px;

			&.add-companions{
				background-color: #0f0;
			}
			
			&.remove-companions{
				background-color: #f00;
				margin-left: 10px;
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
	#confirmar-presenca{
		#companions{
			.box-buttons{
				.btn{
					margin-left: 20px;
				}
			}

			.box-companions{
				input{
					width: 88%;
				}
			}
		}
	}
}

@media only screen and (min-width: 1025px){
	#confirmar-presenca{
		#form-attendance-confirmation{
			width: 80%;
		}

		#companions{
			.box-companions{
				input{
					width: 90%;
				}
			}
		}
	}
}