.modal{
	position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;z-index: 5;font-family: $fontLato;
	&--hide{display: none;}
	&__bg{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.75);}
	&__content{background-color: #fff;position: relative;top: 50%;left: 50%;padding: 32px;max-height: 90vh;overflow: auto;border-radius: 5px;max-width: 650px;width: 94%;transform: translate(-50%, -50%);text-align: center;}
	&__title{font-size: 50px;font-family: "great_vibesregular";margin-bottom: 16px;}
	&__btn{
		border: none;border-radius: 5px;margin: 0 8px;opacity: 0.9;color: $white;display: inline-block;font-size: 22px;padding: 10px 30px;text-decoration: none;vertical-align: top;cursor: pointer;
		&:hover{opacity: 1;}
	}
	&__submit{background-color: $bluishGreen;}
	&__cancel{background-color: #999;}
}