<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="cerimonia" class="content">
		<h2 class="title-page">Cerimônia de casamento</h2>
		<p class="txt">Para facilitar, a nossa cerimônia e festa serão no mesmo local, portanto não se atrasem!!!</p>
		<h3 class="subtitle">O QUE VESTIR?</h3>
		<p class="txt">Como de costume em toda cerimônia o bom e velho social.</p>
		<div class="box-generic-white">
			<h2 class="title-page"><i class="fa fa-map-marker icon-calendar" aria-hidden="true"></i>Quando será?</h2>
			<p>Sábado, 23 de Julho de 2016, 20h00</p>
		</div>
		<div class="box-generic-white">
			<h2 class="title-page"><i class="fa fa-calendar icon-location" aria-hidden="true"></i>Onde será?</h2>
			<p>Buffet É o Casco - Rua Miguel Prisco, 1100, Ribeirão Pires - São Paulo</p>
		</div>
		<h2 class="title-page title">Como chegar?</h2>
		<div id="map" class="box-maps" map></div>
		<h2 class="title-page title">Você já sabe se estará presente?</h2>
		<a href="/#!/confirmar-presenca" title="Confirmar presença" class="btn-confirm"><i></i>Confirmar presença</a>
		<?php include('includes/social.php')?>
	</div>
</div>