<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="cha-de-cozinha" class="content">
		<h2 class="title-page">Chá de cozinha e chá bar</h2>
		<p class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<h3 class="subtitle">O QUE VESTIR?</h3>
		<p class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<div class="box-generic-white">
			<i class="icon-calendar"></i>
			<h2 class="title-page">Quando será?</h2>
			<p>Sábado, 04 de Junho de 2016, 20h00</p>
		</div>
		<div class="box-generic-white">
			<i class="icon-location"></i>
			<h2 class="title-page">Onde será?</h2>
			<p>Buffet É o Casco - Rua Miguel Prisco, 1100, Ribeirão Pires - São Paulo</p>
		</div>
		<h2 class="title-page title">Como chegar?</h2>
		<div id="map" class="box-maps" map></div>
		<h2 class="title-page title">Você já sabe se estará presente?</h2>
		<a href="/#!/confirmar-presenca" title="Confirmar presença" class="btn-confirm"><i></i>Confirmar presença</a>
		<?php include('includes/social.php')?>
	</div>
</div>