<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="daminhas" class="content">
		<h2 class="title-page">As Daminhas</h2>
		<div class="box-flower-girls">
			<div class="flower-girls">
				<img class="image square" src="assets/img/flower-girls/thumbs/julia.jpg" alt="Julia">
				<h3>Julia</h3>
			</div>
			<div class="flower-girls">
				<img class="image square" src="assets/img/flower-girls/thumbs/laurinha.jpg" alt="Laura">
				<h3>Laura</h3>
			</div>
			<div class="flower-girls">
				<img class="image square" src="assets/img/flower-girls/thumbs/pandora.jpg" alt="Pandora">
				<h3>Pandora</h3>
			</div>
		</div>
		<div id="carousel" carousel ng-show="imageSelected"></div>
		<?php include('includes/social.php')?>
	</div>
</div>