<header id="box-btn-menu" btMenu></header>
<div class="wrapper" ng-click="hideMenu()">
	<div id="nossa-historia" class="content">
		<h1 class="title-page">Nossa história</h1>
		<img class="image square" src="assets/img/our-story.jpg" alt="Por do sol em São Thomé das Letras" />
		<p class="txt">Tudo começou no fim do ano de 2005, quando nos vimos pela primeira vez na faculdade. Eu o garoto do fone(segundo a Tauana) e ela a pequena que vivia correndo todas as sexta-feiras para poder ir para balada em Ribeirão.....danada. Ela sentava lá na frente na sala e eu sempre no meio da galera do fundão, mas sempre com boas notas.....\o/.</p>
		<p class="txt">Assim que acabou o ano letivo da faculdade começamos a se aproximar, trocamos o número de telefone e começamos a nos falar todos os dias. Mas o que eu não sabia é que tinha mais um cara na parada!</p>
		<p class="txt">Continuamos nos falando e ela em viagem de férias em Ilha Bela e eu em São Paulo. Então combinamos de nos encontrar. Assim que ela voltou de viagem, fui encontra-lá em Ribeirão Pires, naquela época eu ainda não tinha carro então tinha que ir e voltar no mesmo dia. Ficamos durante um mês até oficializarmos tudo no dia 18/02/2006. Começamos a namorar, conheci o meu sogro e minha sogra e depois de algum tempo de namoro, como eu morava longe meu sogro e minha sogra me deixaram a dormi na casa dele, quer dizer, no camarim do salão...rsrsrs, mas já era uma evolução pra quem tinha que vir e voltar no mesmo dia.</p>
		<p class="txt">Começamos a sair para diversos lugares, micaretas, shows de forreggae, pagodes, restaurantes entre outros lugares e fomos nos descobrindo e nos conhecendo cada vez mais. Depois de uns 2 anos fizemos nossa primeira viagem juntos e cada vez mais a vontade de estar perto um do outro. Os anos se passaram e depois de um bom tempo(para não falar os anos pra não pegar tão mal e ninguém falar que eu enrolei a Tauana), resolvi pedi-lá em casamento =D.</p>
		<p class="txt">Chamei o meu sogro no facebook para tentar combinar uma festa surpresa e para minha infelicidade a Tauana quem estava falando no facebook do pai dela, por pouco ela não descobriu toda a trama. Ainda no mesmo dia consegui falar com o meu sogro para poder organizar a festa supresa para fazer o noivado. Usamos como desculpa o aniversário da afilhada do meu sogro a Thayna para organizar uma festa sem que a Tauana soubesse. Saimos para eu cortar o cabelo e enrolamos bastante para fazer com que todos os nossos convidados pudesse chegar e participar de um dos momentos mais felizes da minha vida o dia do noivado.</p>
		<p class="txt">Ela jamais imaginou que seria dessa forma, uma surpresa, chegar e ver todos os amigos e familizares reunidos nos proporcionando um dos momentos mais especiais da nossa vida. Ela em estado de choque e eu sem saber o que fazer....rsrsrsrs. E hoje estamos dando mais um passo, rumo ao casamento, enfrentando dia após dia vários problemas em meio a organização do casamento e reforma, para que tudo de certo e fique perfeito para dar continuidade em mais uma etapa de nossas vidas, a nossa união.</p>
		<p class="txt">Como é díficil falar da gente sem se emocionar....agradeço a todo mundo que participou e participa da nossa vida desde o ínicio do nosso namoro e que sempre estiveram do nosso lado. Obrigado!!! =D</p>
		<p class="txt"><i>Por Ricardo</i></p>
		<?php include('includes/social.php')?>
	</div>
</div>